{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}
{% extends "RRUserBundle::layout.html.twig" %}

{% block content %}
<h1>Affichage d'un utilisateur</h1>
<li><a href="{{ path('rr_user_delete', {'id': user.id}) }}">Suprimer</a></li>
<li><a href="{{ path('rr_user_edit', {'id': user.id}) }}">Editer</a></li>
<p>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
<p>Message flash : {{ message }}</p>
{% endfor %}
</p>

<p>
    Ici nous pourrons lire les info de l'utilisateur ayant comme id : {{ user.id }}<br />
    {{ user.nom }}<br />
    {{ user.prenom }}<br />
    {{ user.mail }}<br />
    {{ user.telephone }}<br />
    {{ user.dateCreation }}<br />

<br />

</p>
{% endblock %}