{% trans_default_domain 'FOSUserBundle' %}

<div class="mdl-grid">
    <div class="mdl-cell--6-col">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <br><br>
        <p>telephone: {{ user.telephone|default("-") }}</p>
        <br><br>
        <p>code postal: {{ user.address.zipcode|default("-") }}</p>
        <p>ville: {{ user.address.city|default("-") }}</p>
        <p>rue: {{ user.address.street|default("-") }}</p>
    </div>

    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--6-col">
        <p>Image de profil:</p>
        {% if user.profileImage is not null and user.profileImage.imageFile is not null %}
            <div class='profileImg'>
                <img src="{{ asset(vich_uploader_asset(user.profileImage,'imageFile')) }}" alt="" /><br/>
            </div>
        {% endif %}

    </div>
</div>

<div class="mdl-grid">
    <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-color--accent" href="{{ path("fos_user_profile_edit") }}">Editer le profil</a></p>
    <div class="mdl-layout-spacer"></div>
    <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="{{ path("fos_user_change_password") }}">Changer le mot de passe</a></p>
</div>
<div class="mdl-grid">
    <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-color--red-A400" href="{{ path("user_delete_account") }}">Supprimer le compte</a></p>
    <div class="mdl-layout-spacer"></div>
</div>


