{% trans_default_domain 'FOSUserBundle' %}

<div class="mdl-grid">
    <div class="mdl-cell--6-col">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <br><br>
        <p>telephone: {{ user.telephone|default("-") }}</p>
    </div>

    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--6-col">
        <p>Image de profil</p>
        <br><br>
        <p>code postal: {{ user.address.zipcode|default("-") }}</p>
        <p>ville: {{ user.address.city|default("-") }}</p>
        <p>rue: {{ user.address.street|default("-") }}</p>

    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell--8-col">
        <p><a href="{{ path("fos_user_profile_edit") }}">Editer le profil</a></p>
        <p><a href="{{ path("fos_user_change_password") }}">Changer le mot de passe</a></p>
    </div>
</div>



{#
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p><a href="{{ path("fos_user_profile_edit") }}">Editer le profil</a></p>
    <p><a href="{{ path("fos_user_change_password") }}">Changer le mot de passe</a></p>
</div>
#}

