{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
    Resto'Regimes
{% endblock %}

{% block content %}
    {% for f in cgu %}
        {% if f.title is not null %}
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--6-col">
                        <hr>
                        <h3 class="mdl-color-text--blue-grey-700 ">{{ f.title }}</h3>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
        {% endif %}
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--7-col mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-color--green-A400">
                    <h5 class="mdl-card__title-text">{{ f.subtitle }}</h5>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                        <p> {{ f.content }}</p><br>
                </div>
                {% if f.image is not null and f.image.imageFile is not null %}
                    <img class="image-faq" src="{{ asset(vich_uploader_asset(f.image,'imageFile')) }}" alt="{{ f.image.imageName }}" /><br/>
                {% endif %}
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    {% endfor %}

{% endblock %}
{% block footer %}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Resto'Regimes</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a  href="{{ path('rr_core_faq') }}">FAQ</a></li>
                <li><a href="{{ path('rr_core_mentions') }}">Mentions légales</a></li>
                <li><a class="mdl-color-text--accent" href="{{ path('rr_core_cgu') }}"><b>Conditions génerales d'utilisation</b></a></li>
            </ul>
        </div>
    </footer>
{% endblock %}