{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
  Resto'Regimes
{% endblock %}

{% block content %}
    <div class="container">

        <div class="content">
            <!-- Start Demo -->

                <div class="cache">
                    <!-- masks -->
                    <img src="{{ asset('bundles/rrcore/images/masks/prism-a.svg') }}">
                    <img src="{{ asset('bundles/rrcore/images/masks/prism-b.svg') }}">
                    <img src="{{ asset('bundles/rrcore/images/masks/prism-c.svg') }}">
                    <!-- photos -->
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg1.png') }}">
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg2.jpg') }}">
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg3.png') }}">
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg4.jpg') }}">
                </div>
                <div class="prism-slider">

                </div>


                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp card-accueil">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Bienvenue</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-grid">

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                            </div>
                            <div class="mdl-grid">
                            <a class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect">
                                S'incrire
                            </a>
                            </div>

                        </div>
                        <div class="mdl-card__menu">
                            <ul class="navigation"></ul>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>

				<!-- End Demo -->


        </div>
    </div>
        <!-- Related demos -->



{% endblock %}
{% block footer %}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascript %}

        <script src="{{ asset('bundles/rrcore/js/utils/rAF.js') }}" ></script>
		<script src="{{ asset('bundles/rrcore/js/utils/easing.js') }}"></script>
		<script src="{{ asset('bundles/rrcore/js/PrismSlider.js') }}"></script>
		<script src="{{ asset('bundles/rrcore/js/slideshow1.js') }}"></script>

        <script>

       console.log("size: "+$('li').size());



        </script>

{% endblock %}