{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
  Resto'Regimes
{% endblock %}

{% block content %}
    <div class="container">

        <div class="content">
            <!-- Start Demo -->

                <div class="cache">
                    <!-- masks -->
                    <img src="{{ asset('bundles/rrcore/images/masks/prism-a.svg') }}">
                    <img src="{{ asset('bundles/rrcore/images/masks/prism-b.svg') }}">
                    <img src="{{ asset('bundles/rrcore/images/masks/prism-c.svg') }}">
                    <!-- photos -->
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg1.png') }}">
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg2.jpg') }}">
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg3.png') }}">
                    <img src="{{ asset('bundles/rrcore/images/Bg/Bg4.jpg') }}">
                </div>
                <div class="prism-slider">

                </div>


                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp card-accueil">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Bienvenue</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-grid">
                                <b>Restorégime est un service de recherche de restaurants en ligne gratuit. Notre mission est de vous proposer un large choix de restaurants classés selon différents critères de régime pour vous permettre où que vous alliez de trouver un restaurant qui réponde à vos besoins.</b>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-layout-spacer"></div>
                            <a class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect" href="{{ path('fos_user_registration_register') }}">
                                S'incrire
                            </a>
                                <div class="mdl-layout-spacer"></div>
                            </div>

                        </div>
                        <div class="mdl-card__menu">
                            <ul class="navigation"></ul>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>

				<!-- End Demo -->


        </div>
    </div>
        <!-- Related demos -->



{% endblock %}
{% block footer %}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Resto'Regimes</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Conditions génerales d'utilisation</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascript %}

        <script src="{{ asset('bundles/rrcore/js/utils/rAF.js') }}" ></script>
		<script src="{{ asset('bundles/rrcore/js/utils/easing.js') }}"></script>
		<script src="{{ asset('bundles/rrcore/js/PrismSlider.js') }}"></script>
		<script src="{{ asset('bundles/rrcore/js/slideshow1.js') }}"></script>

{% endblock %}