{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
  Resto'Regimes
{% endblock %}

{% block loader %}
    <div class='loading'>
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>
{% endblock %}

{% block content %}



    <div class="container">

        <div class="content">
            <!-- Start Demo -->

                <div class="cache">
                    <!-- masks -->
                    <img src="{{ asset('rrcore/images/masks/prism-a.svg') }}">
                    <img src="{{ asset('rrcore/images/masks/prism-b.svg') }}">
                    <img src="{{ asset('rrcore/images/masks/prism-c.svg') }}">
                    <!-- photos -->
                    <img src="{{ asset('rrcore/images/Bg/Bg1.jpg') }}">
                    <img src="{{ asset('rrcore/images/Bg/Bg2.jpg') }}">
                    <img src="{{ asset('rrcore/images/Bg/Bg3.jpg') }}">
                </div>
                <div class="prism-slider">

                </div>


                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp card-accueil">
                        <div class="mdl-card__title ">
                            <h2 class="mdl-card__title-text">Bienvenue <br> {% if app.user is not null %}{{ app.user.username }}{% endif %}</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-grid">
                                <b>Restorégime est un service de recherche de restaurants en ligne gratuit. Notre mission est de vous proposer un large choix de restaurants classés selon différents critères de régime pour vous permettre où que vous alliez de trouver un restaurant qui réponde à vos besoins.</b>
                            </div>
                            {% if app.user is null %}
                            <div class="mdl-grid">
                                <div class="mdl-layout-spacer"></div>
                                <a class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect" href="{{ path('fos_user_registration_register') }}">
                                    S'incrire
                                </a>
                                <div class="mdl-layout-spacer"></div>
                                <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-color--green-A400" id="recherche_BTN">
                                    Recherche
                                </a>
                                <div class="mdl-layout-spacer"></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="mdl-card__menu">
                            <ul class="navigation"></ul>
                        </div>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>







				<!-- End Demo -->


        </div>
    </div>
        <!-- Related demos -->



{% endblock %}
{% block footer %}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Resto'Regimes</div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="{{ path('rr_core_faq') }}">FAQ</a></li>
                <li><a href="{{ path('rr_core_mentions') }}">Mentions légales</a></li>
                <li><a href="{{ path('rr_core_cgu') }}">Conditions génerales d'utilisation</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/compiled/slider.min.js') }}"></script>
    <script>
        $('#main_body').hide();
        $(window).load(function(){
            $('.loading').fadeOut(500).remove();
            $('#main_body').fadeIn(1500);

            var recherche_BTN = $('#recherche_BTN');

            recherche_BTN.bind('click',function(){
               $('#drawer').addClass('is-visible');
                $('.mdl-layout__obfuscator').addClass('is-visible');
            });

        });
    </script>

{% endblock %}