
{# data form
{% if data is defined %}
    lat:{{ data.lat }}<br>
    lng: {{ data.lng }}<br>
    veg:{{ data.vegetarien }}<br>
    vegl:{{ data.vegetalien }}<br>
    glu:{{ data.gluten }}<br>
    dia:{{ data.diabete }}<br>
    cho:{{ data.Cholesterol }}<br>
    rech:{{ data.recherche }}<br>
    rad:{{ data.radius }}<br>
{% endif %}#}


        {{ form_start(form, {'action': path('rr_core_search') }) }}
        {{ form_errors(form) }}
        <div id="adresse">
            {{ form_errors(form.recherche) }}
            {{ form_widget(form.recherche, {'attr': {'class': 'mdl-textfield__input','placeholder':'Adresse'}}) }}
            {{ form_label(form.recherche, " ") }}</div>

        {{ form_errors(form.geo) }}
        <label class="mdl-checkbox mdl-js-checkbox " for="form_geo">
            {{ form_widget(form.geo, {'attr': {'class': 'mdl-checkbox__input','onclick':"getLocation()"}}) }}
            <span class="mdl-checkbox__label"><b id="geo">Se Geolocaliser</b></span>

        </label>

        {{ form_errors(form.radius) }}
        {{ form_widget(form.radius, {'attr': {'class': 'mdl-textfield__input','placeholder':'Distance max (km)'}}) }}
        {{ form_label(form.radius, " ") }}
        {{ form_errors(form.vegetarien) }}
        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.vegetarien) }}
            <span id="vegetarien">{{ form_label(form.vegetarien, "Vegetarien") }}</span>
        </label>
        <br><br>
        {{ form_errors(form.vegetalien) }}
        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.vegetalien) }}
            <span id="vegetalien">{{ form_label(form.vegetalien, "Vegetalien") }}</span>
        </label>
        <br><br>
        {{ form_errors(form.gluten) }}
        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.gluten) }}
            <span id="gluten">{{ form_label(form.gluten, "Sans Gluten") }}</span>
        </label>
        <br><br>
        {{ form_errors(form.diabete) }}
        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.diabete) }}
            <span id="diabete">{{ form_label(form.diabete, "Diabete") }}</span>
        </label>
        <br><br>
        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.Cholesterol) }}
            <span id="cholesterol">{{ form_label(form.Cholesterol, "Cholesterol") }}</span>

        </label>
        {{ form_errors(form.Cholesterol) }}
        <br><br>

        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
            <i class="material-icons">search</i>
        </button>
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}













{% block javascript %}
    <script>

        var x = document.getElementById("form_lng");
        var y = document.getElementById("form_lat");
        var z = document.getElementById("geo");
        var a = document.getElementById("adresse");
        var ad= document.getElementById("form_recherche");
        var click=false;
        if(document.getElementById("form_geo").checked){
            z.innerHTML = "Addresse trouvée";
            a.style.visibility = 'hidden';
            ad.value = "";
            click=true;
        }


        function getLocation() {
            if(!click){
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                    click=true;
                } else {
                    z.innerHTML = "La Geolocation n'est pas supportée par le navigateur.";
                }
            }else{
                x.value = "";
                y.value = "";
                z.innerHTML = "Se Geolocaliser";
                a.style.visibility = 'visible';
                ad.value = "";
                click=false;
            }
        }

        function showPosition(position) {
            y.value = position.coords.latitude;
            x.value = position.coords.longitude;
            z.innerHTML = "Addresse trouvée";
            a.style.visibility = 'hidden';
            ad.value = "";
        }
    </script>

{% endblock %}