
{# data form
{% if data is defined %}
    lat:{{ data.lat }}<br>
    lng: {{ data.lng }}<br>
    veg:{{ data.vegetarien }}<br>
    vegl:{{ data.vegetalien }}<br>
    glu:{{ data.gluten }}<br>
    dia:{{ data.diabete }}<br>
    cho:{{ data.Cholesterol }}<br>
    rech:{{ data.recherche }}<br>
    rad:{{ data.radius }}<br>
{% endif %}#}


        {{ form_start(form, {'action': path('rr_core_search') }) }}
        <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form) }}</div>
                <div id="adresse" class="search-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form_widget(form.recherche, {'attr': {'class': 'mdl-textfield__input'}}) }}
                    {{ form_label(form.recherche, " ") }}
                    <label class="mdl-textfield__label" for="{{ form.recherche.vars.id }}">Adresse...</label>
                </div>


        <label id="label-geo" class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="{{ form.geo.vars.id }}">
            {{ form_widget(form.geo, {'attr': {'class': 'mdl-icon-toggle__input','onclick':"getLocation()"}}) }}
            <i id="logo-gps" class="mdl-icon-toggle__label material-icons">&#xE1B4;</i>
        </label>
        <div class="mdl-tooltip" for="label-geo">
            Se Geolocaliser
        </div>
        <b id="geo"></b>
        <br><hr>
        <input id="radius-slider" class="mdl-slider mdl-js-slider" type="range"
       min="0" max="9" value="0" tabindex="0">
        {{ form_widget(form.radius, {'attr': {'class': 'mdl-textfield__input','placeholder':'Distance max (m)'}}) }}
        {{ form_label(form.radius, " ") }}
        <br><br>


        <div class="mdl-tooltip" for="radius-slider">
            Distance max (m)
        </div>

        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.vegetarien) }}
            <span id="vegetarien">{{ form_label(form.vegetarien, "Vegetarien") }}</span>
        </label>
        <br><br>

        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.allergies) }}
            <span id="vegetalien">{{ form_label(form.allergies, "Allergies") }}</span>
        </label>
        <br><br>

        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.gluten) }}
            <span id="gluten">{{ form_label(form.gluten, "Sans Gluten") }}</span>
        </label>
        <br><br>

        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.diabete) }}
            <span id="diabete">{{ form_label(form.diabete, "Diabete") }}</span>
        </label>
        <br><br>
        <label class="tgl" style="font-size:18px;">
            {{ form_widget(form.Cholesterol) }}
            <span id="cholesterol">{{ form_label(form.Cholesterol, "Cholesterol") }}</span>

        </label>

        <br><br>

        <button id="search-button-form" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
            <i class="material-icons">search</i>
        </button>
        <div class="mdl-tooltip mdl-tooltip--large" for="search-button-form">
            Valider
        </div>
        {{ form_rest(form) }}

        {{ form_end(form) }}














    <script>

        var x = document.getElementById("{{ form.lng.vars.id }}");
        var y = document.getElementById("{{ form.lat.vars.id }}");
        var z = document.getElementById("geo");
        var w = document.getElementById("logo-gps");
        var a = document.getElementById("adresse");
        var ad= document.getElementById("{{ form.recherche.vars.id }}");
        var click=false;
        if(document.getElementById("form_geo").checked){
            z.innerHTML = "Addresse trouvée";
            a.style.visibility = 'hidden';
            ad.value = "";
            click=true;
        }
        var radius_id = {{ form.radius.vars.id }};


        $('#radius-slider').on("change mousemove", function() {
            $("#{{ form.radius.vars.id }}").val($(this).val()*500+500);
        });

        function getLocation() {
            if(!click){
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                    click=true;
                } else {
                    w.innerHTML= "&#xE1B5;";
                    z.innerHTML = "La Geolocation n'est pas supportée par le navigateur.";
                }
            }else{
                x.value = "";
                y.value = "";
                z.innerHTML = " ";
                w.innerHTML= "&#xE1B4;";
                a.style.visibility = 'visible';
                ad.value = "";
                click=false;
            }
        }

        function showPosition(position) {
            y.value = position.coords.latitude;
            x.value = position.coords.longitude;
            z.innerHTML = "Addresse trouvée";
            w.innerHTML= "&#xE1B3;";
            a.style.visibility = 'hidden';
            ad.value = "";
        }
    </script>

