
{# data form
{% if data is defined %}
    lat:{{ data.lat }}<br>
    lng: {{ data.lng }}<br>
    veg:{{ data.vegetarien }}<br>
    vegl:{{ data.vegetalien }}<br>
    glu:{{ data.gluten }}<br>
    dia:{{ data.diabete }}<br>
    cho:{{ data.Cholesterol }}<br>
    rech:{{ data.recherche }}<br>
    rad:{{ data.radius }}<br>
{% endif %}#}

        {{ form_start(form, {'action': path('rr_core_search') }) }}
        {{ form_errors(form) }}
    <div id="adresse">
        {{ form_errors(form.recherche) }}
        {{ form_widget(form.recherche, {'attr': {'class': 'mdl-textfield__input','placeholder':'Adresse'}}) }}
        {{ form_label(form.recherche, " ") }}</div>

        {{ form_errors(form.geo) }}
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="form_geo">
            {{ form_widget(form.geo, {'attr': {'class': 'mdl-checkbox__input','onclick':"getLocation()"}}) }}
            <span class="mdl-checkbox__label"><b id="geo">Se Geolocaliser</b></span>

        </label>

        {{ form_errors(form.radius) }}
        {{ form_widget(form.radius, {'attr': {'class': 'mdl-textfield__input','placeholder':'Rayon de recherche (km)'}}) }}
        {{ form_label(form.radius, " ") }}


        {{ form_errors(form.vegetarien) }}
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="form_vegetarien">
            <span class="mdl-switch__label">{{ form_label(form.vegetarien, "Vegetarien") }}</span>
            {{ form_widget(form.vegetarien, {'attr': {'class': 'mdl-switch__input mdl-color--green-A400'}}) }}
        </label> <br><br>
        {{ form_errors(form.vegetalien) }}
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="form_vegetalien">
            <span class="mdl-switch__label">{{ form_label(form.vegetalien, "Vegetalien") }}</span>
            {{ form_widget(form.vegetalien, {'attr': {'class': 'mdl-switch__input'}}) }}
        </label> <br><br>
        {{ form_errors(form.gluten) }}
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="form_gluten">
            <span class="mdl-switch__label">{{ form_label(form.gluten, "Sans gluten") }}</span>
            {{ form_widget(form.gluten, {'attr': {'class': 'mdl-switch__input'}}) }}
        </label> <br><br>

        {{ form_errors(form.diabete) }}
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="form_diabete">
            <span class="mdl-switch__label">{{ form_label(form.diabete, "Diabete") }}</span>
            {{ form_widget(form.diabete, {'attr': {'class': 'mdl-switch__input'}}) }}
        </label> <br><br>

        {{ form_errors(form.Cholesterol) }}
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="form_Cholesterol">
            <span class="mdl-switch__label">{{ form_label(form.Cholesterol, "cholesterol") }}</span>
            {{ form_widget(form.Cholesterol, {'attr': {'class': 'mdl-switch__input'}}) }}
        </label> <br><br>

        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
            <i class="material-icons">search</i>
        </button>

        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

<div>
    {% if listRestaurants is defined %}
        {% for restaurant in listRestaurants %}
            {{ restaurant.nom }}<br>
        {% endfor %}
    {% endif %}
</div>


    <script>
        var x = document.getElementById("form_lng");
        var y = document.getElementById("form_lat");
        var z = document.getElementById("geo");
        var a = document.getElementById("adresse");
        var ad= document.getElementById("form_recherche");
        var click=false;

        function getLocation() {
            if(!click){
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                    click=true;
                } else {
                    z.innerHTML = "La Geolocation n'est pas supportée par le navigateur.";
                }
            }else{
                x.value = "";
                y.value = "";
                z.innerHTML = "Se Geolocaliser";
                a.style.visibility = 'visible';
                ad.value = "";
                click=false;
            }
        }

        function showPosition(position) {
            y.value = position.coords.latitude;
            x.value = position.coords.longitude;
            z.innerHTML = "Addresse trouvée";
            a.style.visibility = 'hidden';
            ad.value = "";
        }
    </script>

