{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}RR Platform{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/rrcore/css/material.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/rrcore/css/style.css') }}" type="text/css" />
        <script src="{{ asset('bundles/rrcore/js/material.min.js') }}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}

</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <a href="{{ path('rr_core_search') }}">
                        <i class="material-icons">search</i>
                    </a>

                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample"
                           id="fixed-header-drawer-exp">
                </div>
            </div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><img src="{{ asset('bundles/rrcore/images/RRLogo.png') }}" style="width: 200px;"> </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ path('rr_core_homepage') }}">Acceuil</a>
            <a class="mdl-navigation__link"class="mdl-navigation__link" href="{{ path('rr_core_homepage') }}">Accueil</a>
            <a class="mdl-navigation__link" href="{{ path('rr_restaurant_home') }}">les restaurants</a>
            <a class="mdl-navigation__link" href="{{ path('rr_restaurant_add') }}">Ajouter un restaurant</a>

            {% if app.user is not null %}
                <a class="mdl-navigation__link" href="{{ path('fos_user_profile_show') }}">Mon Compte</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_registration_registerPro') }}">Professionnel</a>
            {% endif %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <hr>
            {% if app.user is not null %}
                Bonjour {{ app.user.username }} - {{ app.user.email }}
            {% endif %}
            {% block fos_user %}
            {% endblock fos_user %}
            {% block jumbotron %}
            {% endblock %}
            <hr>
            <div class="row">
                <div id="menu" class="col-md-3">
                    <h3>Les Restaurants</h3>
                    <ul class="nav nav-pills nav-stacked">

                    </ul>

                </div>
                <div id="content" class="col-md-9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <hr>

            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>


{% block javascript %}

{% endblock %}
<!-- /container -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

</body>


</html>