{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <title>{% block title %}Resto'Regimes{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/rrcore/css/material.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/rrcore/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/rrcore/css/simplePagination.css') }}" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="{{ asset('bundles/rrcore/js/material.min.js') }}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock %}
</head>

<body>

<div class="mdl-layout mdl-js-layout
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" id="title"><a href="{{ path('rr_core_homepage') }}"><div id="RRLogoText" class="mdl-cell--hide-phone">{% include(":svg:RRtext.svg.twig") %}</div><div class="mdl-cell--hide-desktop mdl-cell--hide-tablet">{% include(":svg:iconRRBlackShadow.svg.twig") %}</div></a></span>
            <div class="mdl-layout-spacer"></div>
            {% if app.user is not null %}
            <div class="mdl-cell--hide-phone">Bonjour {{ app.user.username }} - {{ app.user.email }}</div>
            {% endif %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">

                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <i class="material-icons" >search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        {{ render(controller('RRCoreBundle:Default:searchForm', {})) }}
                    </div>
                </label>


            </div>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <nav class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                {% if app.user is not null %}

                    <div class="mdl-menu__item mdl-cell--hide-desktop mdl-cell--hide-tablet">Bonjour {{ app.user.username }}</div>


                    <a class="mdl-menu__item" href="{{ path('fos_user_profile_show') }}">Mon Compte</a>

                    <a class="mdl-menu__item" href="{{ path('fos_user_security_logout') }}">Logout</a>
                {% else %}

                    <a class="mdl-menu__item" href="{{ path('fos_user_security_login') }}">Connexion</a>

                    <a class="mdl-menu__item" href="{{ path('fos_user_registration_register') }}">Inscription</a>

                    <a class="mdl-menu__item" href="{{ path('fos_user_registration_registerPro') }}">Professionnel</a>
                {% endif %}
                <a class="mdl-menu__item" href="#">A propos</a>
            </nav>
        </div>


    </header>
    <div id="drawer" class="mdl-layout__drawer mdl-layout__drawer">

        <span class="mdl-layout-title">{% include(":svg:iconRRShadow.svg.twig") %}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ path('rr_core_homepage') }}">Acceuil</a>
            <a class="mdl-navigation__link" href="{{ path('rr_restaurant_home') }}">les restaurants</a>
            <a class="mdl-navigation__link" href="{{ path('rr_restaurant_add') }}">Ajouter un restaurant</a>

            {% if app.user is not null %}
                <a class="mdl-navigation__link" href="{{ path('fos_user_profile_show') }}">Mon Compte</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a class="mdl-navigation__link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
                <a class="mdl-navigation__link" href="{{ path('fos_user_registration_registerPro') }}">Professionnel</a>
            {% endif %}
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% block content %}
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col">
                        {% block rrplatform_search %}
                        {% endblock %}
                    </div>
                    <div class="mdl-cell mdl-cell--10-col">

                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--2-col">

                            </div>
                            <div class="mdl-cell mdl-cell--8-col">
                                {% block fos_user %}
                                {% endblock fos_user %}
                            </div>
                        </div>
                        {% block body %}
                        {% endblock %}
                    </div>

                </div>
            {% endblock %}
        </div>
    </main>

</div>





{% block javascript %}

{% endblock %}
<!-- /container -->
<!-- Placed at the end of the document so the pages load faster -->

</body>


</html>