{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <title>{% block title %}Resto'Regimes{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('rrcore/images/iconRRBlackOnlyText.png') }}">
    {% block stylesheets %}
        {% stylesheets '@RRCoreBundle/Resources/public/css/*' filter='cssrewrite' filter='uglifycss'  output='css/compiled/main.min.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
    {% endblock %}
    {% javascripts
    '@jquery_and_ui' filter='uglifyjs2' output='js/compiled/main.min.js'  %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div id="search-button-fab" class="mdl-layout__drawer-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">search</i></div>
        <div class="mdl-tooltip mdl-tooltip--large" for="search-button-fab">
            Recherche
        </div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" id="title"><a href="{{ path('rr_core_homepage') }}"><div id="RRLogoText" class="mdl-cell--hide-phone">{% include(":svg:RRtext.svg.twig") %}</div><div class="mdl-cell--hide-desktop mdl-cell--hide-tablet logo-Phone">{% include(":svg:iconRRBlackShadow.svg.twig") %}</div></a></span>

            <div class="mdl-layout-spacer"></div>


            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--large" for="more-button">
                Menu
            </div>
            <nav class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <a class="mdl-menu__item" href="{{ path('rr_core_homepage') }}">Acceuil</a>
                {% if app.user is not null %}

                    <div class="mdl-menu__item">Bonjour {{ app.user.username }}</div>


                    <a class="mdl-menu__item" href="{{ path('fos_user_profile_show') }}">Mon Compte</a>
                    {% if app.user.roles[0]=="ROLE_PRO" %}
                        <a class="mdl-menu__item" href="{{ path('rr_restaurant_add') }}">Ajouter un restaurant</a>
                    {% endif %}
                    {% if app.user.roles[0]=="ROLE_ADMIN" %}
                        <a class="mdl-menu__item" href="{{ path('sonata_admin_dashboard') }}">interface Admin</a>
                    {% endif %}
                    <a class="mdl-menu__item" href="{{ path('fos_user_security_logout') }}">Deconnexion</a>
                {% else %}

                    <a class="mdl-menu__item" href="{{ path('fos_user_security_login') }}">Connexion</a>

                    <a class="mdl-menu__item" href="{{ path('fos_user_registration_register') }}">Inscription</a>

                    <a class="mdl-menu__item" href="{{ path('fos_user_registration_registerPro') }}">Professionnel</a>
                {% endif %}

                <a class="mdl-menu__item" href="#">A propos</a>
            </nav>
        </div>


    </header>
    <div id="drawer" class="mdl-layout__drawer mdl-layout__drawer">


        {% block rrplatform_search %}
            {{ render(controller('RRCoreBundle:Default:searchFormFull', {})) }}
        {% endblock %}

    </div>

    <main class="mdl-layout__content ">
        <div class="page-content">
            {% block content %}
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col">
                    </div>
                    <div class="mdl-cell mdl-cell--10-col">
                        {% block adds %}
                        {% endblock %}
                    </div>
                </div>
                {% block fos_user %}
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                    {% block infos%}
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone mdl-cell--10-col-tablet">
                            {% block map %}
                            {% endblock %}


                        </div>
                        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-phone mdl-cell--10-col-tablet">
                            {% block body %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
                {% endblock fos_user %}
            {% endblock %}
        </div>
    </main>
    {% block footer %}
    {% endblock %}


</div>





<!-- /container -->
<!-- Placed at the end of the document so the pages load faster -->

</body>

{% block javascript %}
    {% javascripts
    '@prism_slider' filter='uglifyjs2' output='js/compiled/slider.min.js'  %}
    {% endjavascripts %}
{% endblock %}
</html>