{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_registerPro'), 'attr': {'class': 'fos_user_registration_registerPro'}}) }}

<div class="mdl-grid">
    <div class="mdl-cell--6-col">

        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'mdl-textfield__input','placeholder':'Email *'}}) }}
        {{ form_label(form.email, " ") }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'mdl-textfield__input','placeholder':'Nom *'}}) }}
        {{ form_label(form.username, " ") }}
        <br><br>
        {{ form_errors(form.telephone) }}
        {{ form_widget(form.telephone, {'attr': {'class': 'mdl-textfield__input','placeholder':'Telephone *' },'required':'true'}) }}
        {{ form_label(form.telephone, " ") }}
        <br><br>
        {% for passwordField in form.plainPassword %}
            {{ form_label(passwordField," ") }}
            {% if loop.first %}
                {{ form_widget(passwordField, { 'attr': {'class': 'mdl-textfield__input','placeholder':'Mot de passe *'} }) }}
            {% else %}
                {{ form_widget(passwordField, { 'attr': {'class': 'mdl-textfield__input','placeholder':'Confirmer mot de passe *'} }) }}
            {% endif %}

        {% endfor %}

    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--6-col">
        {{ form_errors(form.profileImage.imageFile.file) }}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
            <input class="mdl-textfield__input" placeholder="Image de profil" type="text" id="uploadFile"  readonly/>
            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i>{{ form_widget(form.profileImage.imageFile.file, {'attr': {'class': 'mdl-button mdl-button--primary mdl-button--file' }}) }}
            </div>
        </div>
        {{ form_label(form.profileImage.imageFile.file, " ") }}
        <br><br>
        {{ form_errors(form.address.zipcode) }}
        {{ form_widget(form.address.zipcode, {'attr': {'class': 'mdl-textfield__input','placeholder':'Code postal'}}) }}
        {{ form_label(form.address.zipcode, " ") }}

        {{ form_errors(form.address.city) }}
        {{ form_widget(form.address.city, {'attr': {'class': 'mdl-textfield__input','placeholder':'Ville *'},'required':'true'}) }}
        {{ form_label(form.address.city, " ") }}

        {{ form_errors(form.address.street) }}
        {{ form_widget(form.address.street, {'attr': {'class': 'mdl-textfield__input','placeholder':'Rue *' },'required':'true'}) }}
        {{ form_label(form.address.street, " ") }}

    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell--8-col">
        {{ form_widget(form.recaptcha)}}
    </div>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--2-col mdl-cell--middle">
        <div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
                <i class="material-icons">check</i>
            </button>
        </div>
    </div>
</div>
<p>* Champs obligatoire<br></p>
{{ form_end(form) }}
<script>
    document.getElementById("{{ form.profileImage.imageFile.file.vars.id }}").onchange = function () {
        document.getElementById("uploadFile").value = this.files[0].name;
    };
</script>