{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password'}}) }}

    <div class="mdl-grid">
        {% for passwordField in form.plainPassword %}
            {{ form_label(passwordField," ") }}
            {% if loop.first %}
                {{ form_widget(passwordField, { 'attr': {'class': 'mdl-textfield__input','placeholder':'Mot de passe'} }) }}
            {% else %}
                {{ form_widget(passwordField, { 'attr': {'class': 'mdl-textfield__input','placeholder':'Confirmer mot de passe'} }) }}
            {% endif %}

        {% endfor %}
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell--8-col">
            <a href="{{ path('fos_user_profile_show') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--accent">
                <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell--2-col mdl-cell--middle">
            <div>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
                    <i class="material-icons">check</i>
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
