{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
    Resto'Regimes
{% endblock %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            {{ form_start(form_map, {'action': path('rr_data_search') }) }}

            <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form_map) }}</div>
            <div id="data-adresse" class="search-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_widget(form_map.recherche, {'attr': {'class': 'mdl-textfield__input'}}) }}
                {{ form_label(form_map.recherche, " ") }}
                <label class="mdl-textfield__label" for="{{ form_map.recherche.vars.id }}">Adresse...</label>
            </div>
            <button id="data-button-form" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
                <i class="material-icons">map</i>
            </button>

            <div class="mdl-tooltip mdl-tooltip--large" for="data-button-form">
                Position carte
            </div>
            {{ form_rest(form_map) }}

            {{ form_end(form_map) }}
        </div>
        <div class="mdl-cell mdl-cell--6-col">

        </div>


    </div>


{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}