{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block title %}
    Resto'Regimes
{% endblock %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
                {{ form_start(form, {'action': path('rr_data_search') }) }}

            <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form) }}</div>
            <div id="data-adresse" class="search-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_widget(form.recherche, {'attr': {'class': 'mdl-textfield__input'}}) }}
                {{ form_label(form.recherche, " ") }}
                <label class="mdl-textfield__label" for="{{ form.recherche.vars.id }}">Adresse...</label>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            {{ form_widget(form.radius, {'id':'data-radius-form','attr': {'class': 'mdl-textfield__input','placeholder':'Distance max (m)'}}) }}
            {{ form_label(form.radius, " ") }}
            <div class="mdl-tooltip" for="data-radius-form">
                Distance max (m)
            </div>
            {{ form_widget(form.lat, {'id':'data-lat-form','attr': {'class': 'mdl-textfield__input','placeholder':'Latitude'}}) }}
            {{ form_label(form.lat, " ") }}
            <div class="mdl-tooltip" for="data-lat-form">
                Latitude
            </div>
            {{ form_widget(form.lng, {'id':'data-lng-form','attr': {'class': 'mdl-textfield__input','placeholder':'Longitude'}}) }}
            {{ form_label(form.lng, " ") }}
            <div class="mdl-tooltip" for="data-lng-form">
                Longitude
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col">


                <button id="data-button-form" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
                    <i class="material-icons">map</i>
                </button>

            <div class="mdl-tooltip mdl-tooltip--large" for="data-button-form">
                Valider
            </div>
            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>


    </div>
    <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--4-col">
            {% if map is defined and map is not null %}
                {{ google_map(map) }}
            {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--5-col">

        </div>


   </div>


{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}