{% extends "::layout.html.twig" %}
    {% block fos_user %}
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--3-col"></div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-card mdl-shadow--2dp" style="min-width: 100%;">
                    <div class="mdl-card__title {{ random(['mdl-color--red-A400', 'mdl-color--indigo-A400', 'mdl-color--light-green-A400 ','mdl-color--green-A400','mdl-color--yellow-A400']) }}">

                        {% block message %}
                            {% endblock %}
                    </div>
                    <div class="mdl-card__actions mdl-card--border">



                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>


                    <div class="mdl-card__menu">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{{ path('fos_user_security_logout') }}">
                                {{ 'Deconnexion'|trans({}, 'FOSUserBundle') }}
                            </a>

                        {% else %}
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect"
                               href="{{ path('google_login') }}">
                                Google connect
                            </a>
                            {% block loginLink %}
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>
                            {% endblock %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}