<div class="mdl-grid">

    <div class="mdl-cell--hide-phone mdl-cell--hide-tablet mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-card mdl-shadow--2dp" style="min-width: 100%;">
            <div class="mdl-card__title">
                <h5>Formulaire horaires</h5>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                {{ form_start(form) }}
                <div class="mdl-grid">





                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <th class="mdl-data-table__cell--non-numeric"> Horaires: </th>
                            <th> Ouverture </th>
                            <th> Fermeture </th>
                            <th> Ouverture </th>
                            <th> Fermeture </th>
                            </thead>

                            <tbody>
                            <tr id="lundi">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Lundi:
                                </td>
                                <td class="lundi">
                                    {{ form_label(form.lundi.ouverture1," ") }}
                                    {{ form_errors(form.lundi.ouverture1) }}
                                    {{ form_widget(form.lundi.ouverture1, {'attr': {'class': ''}}) }}
                                </td>
                                <td class="lundi">
                                    {{ form_label(form.lundi.fermeture1," ") }}
                                    {{ form_errors(form.lundi.fermeture1) }}
                                    {{ form_widget(form.lundi.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td class="lundi">
                                    {{ form_label(form.lundi.ouverture2," ") }}
                                    {{ form_errors(form.lundi.ouverture2) }}
                                    {{ form_widget(form.lundi.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td class="lundi">
                                    {{ form_label(form.lundi.fermeture2," ") }}
                                    {{ form_errors(form.lundi.fermeture2) }}
                                    {{ form_widget(form.lundi.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>


                            </tr>
                            <tr id="mardi">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Mardi:
                                </td>
                                <td>
                                    {{ form_label(form.mardi.ouverture1," ") }}
                                    {{ form_errors(form.mardi.ouverture1) }}
                                    {{ form_widget(form.mardi.ouverture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.mardi.fermeture1," ") }}
                                    {{ form_errors(form.mardi.fermeture1) }}
                                    {{ form_widget(form.mardi.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.mardi.ouverture2," ") }}
                                    {{ form_errors(form.mardi.ouverture2) }}
                                    {{ form_widget(form.mardi.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.mardi.fermeture2," ") }}
                                    {{ form_errors(form.mardi.fermeture2) }}
                                    {{ form_widget(form.mardi.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>



                            </tr>
                            <tr id="mercredi">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Mercredi:
                                </td>
                                <td>
                                    {{ form_label(form.mercredi.ouverture1," ") }}
                                    {{ form_errors(form.mercredi.ouverture1) }}
                                    {{ form_widget(form.mercredi.ouverture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.mercredi.fermeture1," ") }}
                                    {{ form_errors(form.mercredi.fermeture1) }}
                                    {{ form_widget(form.mercredi.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.mercredi.ouverture2," ") }}
                                    {{ form_errors(form.mercredi.ouverture2) }}
                                    {{ form_widget(form.mercredi.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.mercredi.fermeture2," ") }}
                                    {{ form_errors(form.mercredi.fermeture2) }}
                                    {{ form_widget(form.mercredi.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>



                            </tr>
                            <tr id="jeudi">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Jeudi:
                                </td>
                                <td>
                                    {{ form_label(form.jeudi.ouverture1," ") }}
                                    {{ form_errors(form.jeudi.ouverture1) }}
                                    {{ form_widget(form.jeudi.ouverture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.jeudi.fermeture1," ") }}
                                    {{ form_errors(form.jeudi.fermeture1) }}
                                    {{ form_widget(form.jeudi.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.jeudi.ouverture2," ") }}
                                    {{ form_errors(form.jeudi.ouverture2) }}
                                    {{ form_widget(form.jeudi.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.jeudi.fermeture2," ") }}
                                    {{ form_errors(form.jeudi.fermeture2) }}
                                    {{ form_widget(form.jeudi.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>



                            </tr>
                            <tr id="vendredi">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Vendredi:
                                </td>
                                <td>
                                    {{ form_label(form.vendredi.ouverture1," ") }}
                                    {{ form_errors(form.vendredi.ouverture1) }}
                                    {{ form_widget(form.vendredi.ouverture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.vendredi.fermeture1," ") }}
                                    {{ form_errors(form.vendredi.fermeture1) }}
                                    {{ form_widget(form.vendredi.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.vendredi.ouverture2," ") }}
                                    {{ form_errors(form.vendredi.ouverture2) }}
                                    {{ form_widget(form.vendredi.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.vendredi.fermeture2," ") }}
                                    {{ form_errors(form.vendredi.fermeture2) }}
                                    {{ form_widget(form.vendredi.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>




                            </tr>
                            <tr id="samedi">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Samedi:
                                </td>
                                <td>
                                    {{ form_label(form.samedi.ouverture1," ") }}
                                    {{ form_errors(form.samedi.ouverture1) }}
                                    {{ form_widget(form.samedi.ouverture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.samedi.fermeture1," ") }}
                                    {{ form_errors(form.samedi.fermeture1) }}
                                    {{ form_widget(form.samedi.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.samedi.ouverture2," ") }}
                                    {{ form_errors(form.samedi.ouverture2) }}
                                    {{ form_widget(form.samedi.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.samedi.fermeture2," ") }}
                                    {{ form_errors(form.samedi.fermeture2) }}
                                    {{ form_widget(form.samedi.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>


                            </tr>
                            <tr id="dimanche">
                                <td class="mdl-data-table__cell--non-numeric">
                                    Dimanche:
                                </td>
                                <td>
                                    {{ form_label(form.dimanche.ouverture1," ") }}
                                    {{ form_errors(form.dimanche.ouverture1) }}
                                    {{ form_widget(form.dimanche.ouverture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.dimanche.fermeture1," ") }}
                                    {{ form_errors(form.dimanche.fermeture1) }}
                                    {{ form_widget(form.dimanche.fermeture1, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.dimanche.ouverture2," ") }}
                                    {{ form_errors(form.dimanche.ouverture2) }}
                                    {{ form_widget(form.dimanche.ouverture2, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_label(form.dimanche.fermeture2," ") }}
                                    {{ form_errors(form.dimanche.fermeture2) }}
                                    {{ form_widget(form.dimanche.fermeture2, {'attr': {'class': 'form-control'}}) }}
                                </td>

                            </tr>

                            </tbody>
                        </table>

                        {{ form_rest(form) }}

                </div>
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div>
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
                            <i class="material-icons">check</i>
                        </button>
                    </div>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
