
        <div class="mdl-grid">

            <div class="mdl-layout-spacer"></div>
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h5>Ajout d'images</h5>

                    </div>
                    <div class="mdl-card__actions mdl-card--border">

                        {{ form_start(form) }}

                                <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form.image1.imageFile.file) }}</div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                    <input class="mdl-textfield__input" placeholder="Image principale" type="text" id="uploadFile1"  readonly/>
                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                        <i class="material-icons">attach_file</i>{{ form_widget(form.image1.imageFile.file, {'attr': {'class': 'mdl-button mdl-button--primary mdl-button--file' }}) }}
                                    </div>
                                </div>
                                <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form.image2.imageFile.file) }}</div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                    <input class="mdl-textfield__input" placeholder="Image 1" type="text" id="uploadFile2"  readonly/>
                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                        <i class="material-icons">attach_file</i>{{ form_widget(form.image2.imageFile.file, {'attr': {'class': 'mdl-button mdl-button--primary mdl-button--file' }}) }}
                                    </div>
                                </div>
                                <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form.image3.imageFile.file) }}</div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                    <input class="mdl-textfield__input" placeholder="Image 2" type="text" id="uploadFile3"  readonly/>
                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                        <i class="material-icons">attach_file</i>{{ form_widget(form.image3.imageFile.file, {'attr': {'class': 'mdl-button mdl-button--primary mdl-button--file' }}) }}
                                    </div>
                                </div>
                                <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form.image4.imageFile.file) }}</div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                    <input class="mdl-textfield__input" placeholder="Image 3" type="text" id="uploadFile4"  readonly/>
                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                        <i class="material-icons">attach_file</i>{{ form_widget(form.image4.imageFile.file, {'attr': {'class': 'mdl-button mdl-button--primary mdl-button--file' }}) }}
                                    </div>
                                </div>
                                <div class="mdl-color--red-200 mdl-shadow--2dp">{{ form_errors(form.image5.imageFile.file) }}</div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                    <input class="mdl-textfield__input" placeholder="Image 4" type="text" id="uploadFile5"  readonly/>
                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                        <i class="material-icons">attach_file</i>{{ form_widget(form.image5.imageFile.file, {'attr': {'class': 'mdl-button mdl-button--primary mdl-button--file' }}) }}
                                    </div>
                                </div>
                                <div class="mdl-grid">
                                    <div class="mdl-layout-spacer"></div>
                                    <div>
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-color--green-A400">
                                            <i class="material-icons">check</i>
                                        </button>
                                    </div>

                                </div>



                        {{ form_end(form) }}
                    </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    <script>

        document.getElementById("{{ form.image1.imageFile.file.vars.id }}").onchange = function () {
            document.getElementById("uploadFile1").value = this.files[0].name;
        };
        document.getElementById("{{ form.image2.imageFile.file.vars.id }}").onchange = function () {
            document.getElementById("uploadFile2").value = this.files[0].name;
        };
        document.getElementById("{{ form.image3.imageFile.file.vars.id }}").onchange = function () {
            document.getElementById("uploadFile3").value = this.files[0].name;
        };
        document.getElementById("{{ form.image4.imageFile.file.vars.id }}").onchange = function () {
            document.getElementById("uploadFile4").value = this.files[0].name;
        };
        document.getElementById("{{ form.image5.imageFile.file.vars.id }}").onchange = function () {
            document.getElementById("uploadFile5").value = this.files[0].name;
        };

    </script>


