{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RRRestaurantBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block map %}
    {{ google_map(map) }}
{% endblock %}
{% block body %}

    <h2>Liste des restaurants</h2>

    <ul>
       {% for restaurant in listRestaurants %}
            <li>
                <a href="{{ path('rr_restaurant_view', {'id': restaurant.id}) }}">
                    {{ restaurant.nom }}
                </a>
                regimes: <br/>
                {% for regime in restaurant.regimes %}
                    {{ regime.libelle }}
                {% endfor %} <br/>
                <a href="{{ path('rr_restaurant_delete', {'id': restaurant.id}) }}">Suprimer</a><br/>
                <a href="{{ path('rr_restaurant_edit', {'id': restaurant.id}) }}">Editer</a><br/>
            </li>
            {% else %}
            <li>Pas (encore !) de restaurants</li>
        {% endfor %}
    </ul>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% if listRestaurant is defined %}
            <div class="mdl-tabs__tab-bar">
                {% for p in range(1, nbPages) %}
                    <a href="{{ path('rr_restaurant_home', {'page': p}) }}">
                    <button class="mdl-button mdl-js-button mdl-button{% if p == page %}--accent mdl-button--raised{% else %}--primary mdl-js-ripple-effect{% endif %}">
                        {{ p }}
                    </button>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}