{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "RRRestaurantBundle::layout.html.twig" %}

{% block title %}
    Recherche - {{ parent() }}
{% endblock %}
{% block rrplatform_search %}
    {% include "RRCoreBundle:Default:search.html.twig" %}
{% endblock %}
{% block map %}
    {{ google_map(map) }}
{% endblock %}

{% block body %}


    <div class="pagination">
        {% set count=0 %}
        {% set numPage=1 %}
        <div class="post" id="page-{{ numPage }}">
       {% for restaurant in listRestaurants %}
            {% if count==2 %}
                {% set numPage=numPage+1 %}
                </div>
                <div class="post" id="page-{{ numPage }}">
                {% set count=0 %}
            {% endif %}
                    <div class="mdl-card mdl-shadow--2dp" style="width:100%;min-height:100px;">
                        <div class="mdl-card__title {{ random(['mdl-color--red-400', 'mdl-color--indigo-400', 'mdl-color--light-green-A400 ','mdl-color--green-400','mdl-color--yellow-400']) }}" {% if restaurant.image1 is not null and restaurant.image1.imageFile is not null %}
                            style=" background: url('{{ asset(vich_uploader_asset(restaurant.image1,'imageFile')) }}') center / cover; "{% endif %}>
                            <a class="mdl-button mdl-button--raised mdl-button--colored" href="{{ path('rr_restaurant_view', {'id': restaurant.id}) }}">
                                {{ restaurant.nom }}
                            </a>

                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--8-col">
                                    {{ restaurant.address|address()|raw }}
                                </div>
                                <div class="mdl-cell mdl-cell--4-col">
                                    {% for regime in restaurant.regimes %}
                                        {% if regime.id==1%}<img src="{{ asset('rrcore/images/Iconveg.png') }}">{% endif %}
                                        {% if regime.id==2%}<img src="{{ asset('rrcore/images/Iconvegan.png') }}">{% endif %}
                                        {% if regime.id==3%}<img src="{{ asset('rrcore/images/Icongluten.png') }}">{% endif %}
                                        {% if regime.id==4%}<img src="{{ asset('rrcore/images/Icondiabete.png') }}">{% endif %}
                                        {% if regime.id==5%}<img src="{{ asset('rrcore/images/Iconchol.png') }}">{% endif %}
                                    {% endfor %}
                                </div>
                            </div>


                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
           {% set count=count+1 %}
            {% else %}
            <b>Aucun Restaurant trouvé</b>
        {% endfor %}
                </div>
    </div>
    {% if numPage>1 %}
    <button class="mdl-button mdl-button--fab mdl-button--mini-fab" onclick="prevPage()">
        <
    </button>
        {% if numPage>2 %}
            {% for i in 1..numPage %}
                <button class="pages mdl-button mdl-button--fab mdl-button--mini-fab" onclick="showPage({{ i }})">
                    {{ i }}
                </button>
            {% endfor %}
        {% endif %}
    <button class="mdl-button mdl-button--fab mdl-button--mini-fab" onclick="nextPage()">
        >
    </button>
    {% endif %}





{% endblock %}
{% block javascript %}
    <script>

        var page=1;
        var aP = document.getElementsByClassName("pages");

        showPage(page);
        function showPage(page) {
            $('.pagination .post:not(#page-'+page+')').hide();
            $('.pagination .post#page-'+page).show();
            for( var i=0;i<$('.pagination .post').length;i++){
                aP[i].style.backgroundColor= 'rgb(220,220,220)';
            }
            aP[page-1].style.backgroundColor= 'rgb(0,230,118)';
        }
        function prevPage() {
            if (page == 1) {
                page = $('.pagination .post').length;
            } else {
                page--;
            }
            showPage(page);
        }

        function nextPage() {
            if (page == $('.pagination .post').length) {
                page = 1;
            } else {
                page++;
            }
            showPage(page);
        }
    </script>
{% endblock %}